<!DOCTYPE html>
  {% block stylesheet %}
            {% stylesheets filter='cssrewrite' output="css/main.css"
                "%kernel.root_dir%/Resources/assets/css/main.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %} 
  {% endblock %}
<footer class="footer">
  <table>
    <tr><td>Voorzitter:</td><td> Jan Kuijer</td><td>Dirigent:</td><td>Mark Walter</td></tr>
    <tr><td>Penningmeester:</td><td>Arie Zonneveld</td><td>Secretaris:</td><td>Adrie Kuijer</td></tr>
    <tr><td>2e Secretaris:</td><td>Theo Berger</td><td>Vice-Voorzitter:</td><td>vacant</td></tr>
  </table>

   
</footer>

</html>