
            {% block body %}
            <p id="first_page">
            Voor de enige informatie verwijzen wij u naar
            de website van het <a href="http://www.baarnsmannenkoor.nl" target="_blank">Baarns mannenkoor.</a>
            Daar zult u alle contactgegevens kunnen vinden.
            
            <br />          
            <br />          
            De gebruikers van deze applicatie dienen door de voorzitter te zijn aangemeld.
            Mocht u onrechtmatig inloggen op deze applicatie, dan zal er aangifte gedaan worden
            bij de autoriteiten.
            </p> 
            {% endblock %}