
            {% block body %}
            <p id="first_page" class="callout">
                Voor informatie verwijzen wij u naar de website van het 
                <a href="http://www.baarnsmannenkoor.nl" target="_blank">Baarns mannenkoor.</a>
                Daar zult u alle informatie kunnen vinden m.b.t. concerten, repetities en
                andere onderwerpen.
            <br />          
            <br />          
                De gebruikers van deze applicatie dienen door de voorzitter te zijn aangemeld.
            </p>
         
            {% endblock %}