
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheet %}
            {% stylesheets filter='cssrewrite' output="css/main.css"
                "%kernel.root_dir%/Resources/assets/css/main.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}  
{% endblock %}

<h3>Lijst gebruikers</h3>
<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
</div>
