.flash-success {
    background-color: rgba(134, 226, 213, 0.5);
    border-radius: 2px;
    padding: 2rem;
    position: fixed;
    width: 15%;
    height: 7%;
    right: 0;
    bottom: 20%;
    z-index: 1;
    text-align: left;
}

.flash-success msg {
    color: black;
    padding: 2rem;
}

@media only screen and (max-width: 600px) {
.flash-success {
    background-color: rgba(134, 226, 213, 0.5);
    border-radius: 2px;
    padding: 2rem;
    position: fixed;
    width: 50%;
    height: 15%;
    right: 0;
    bottom: 20%;
    z-index: 1;
    overflow: auto;
    }

.flash-success msg {
        color: black;
        padding: 2rem;
    }
}

*, #myInput {
    font-family: 'Calibri', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

/* validation message */
#appbundle_memberdate li { color:red; }

select {
    padding: 0;
}

.button-logout {
    display:flex;
    flex-shrink: 2;
    margin-top: 1%;
}

.container-user {
    display: flex;
    float:right;
    margin-right: 2%;
    margin-top: 1%;
}

/* dropdown menu for users */
@media only screen and (max-width: 600px) {
    .dropdown {
        letter-spacing: 3px;
        margin-left: 5%;
        position: relative;
        display: inline-block;
        background-color: #2377AF;
        color:white;
        padding: 0.5rem 0.5rem;
        margin-bottom: 1rem;
        border-radius: 2px;
    }
}
@media only screen and (min-width: 600px) {
    .dropdown {
        letter-spacing: 3px;
        margin-left: 3%;
        position: relative;
        display: inline-block;
        background-color: #2377AF;
        color:white;
        padding: 0.5rem 0.5rem;
        margin-bottom: 1rem;
        border-radius: 2px;
    }
}
    .dropdown-content {
        display: none;
        position: absolute;
        color: white;
        padding: 0.5rem 1.2rem 0.5rem 0.5rem;
        background-color: #2377AF;
        min-width: 100px;
        letter-spacing: 3px;
        z-index: 1;
        border-radius: 2px;

        }

    .dropdown-content li { 
        list-style-type: none; 
    
    }

    .dropdown-content li a { 
        color: white; 
        text-decoration-line: none;
    }
    .dropdown-content li a:hover { text-decoration: underline} 
    .dropdown:hover .dropdown-content {
        display: block;
    }

/* end of dropdown menu */

.footer {
    position: fixed;
    font-size: 14px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    justify-content: left;
    background-color: black;
    color: white;
}

#first_page {
    padding: 3rem 2rem 3rem 2rem;
    text-align: left;
    margin: 0 auto;
    max-width: 640px;
    letter-spacing: 3px;
    font-size: 18px;
}


 .fos {
     display: flex;
     justify-content: center;
 }

 .fos input { margin: 0 2rem; }

 /* image header.jpg */
 .header { 
     padding-left: 5%;
     display:flex;
     justify-content: center;
     }

}
 select, input[type]:not(.button) { 
    border-radius: 5px; 
    height: 1.5rem;
}
    
h3 {
    background-color:  #2377AF;
    color: white !important;
    text-align: center;
}

h5 {
    padding: 2rem 0;
}

nav {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: space-between;
  padding: 0;
}

nav td { padding: 0; } 

#noResults {
    text-align: center;
    color: red;
    font-size: 16pt;
}
p { text-align: center;}

table th tr td {
    display: flex;
    justify-content: center;
}

td {
    padding: 0 2rem;
}

ul{
    list-style: none;

}

